workDir = '/home/david/Documents/communISS/work/'

params {
   help = false
   dataDir = '/home/david/Documents/paula_testing/near_finished_merscope/Group_A/parsed/'
   outDir = '/home/david/Documents/communISS/fake_merfish_out_groupA/'
   DAPI = '/home/david/Documents/paula_testing/near_finished_merscope/Group_A/parsed/130-genesMERFISH_stack3_dapi.tif'
   codebook = '/home/david/Documents/paula_testing/near_finished_merscope/fake_codebook.csv'
   image_prefix = '130-genesMERFISH_stack3_bit'
   extension = 'tif'
   bit_length = 3
   stitch = false
   plot = true
   target_tile_x = 2048
   target_tile_y = 2048
   high_pass_sigma = 3
   low_pass_sigma = 1
   deconvolve_sigma = 2
   iterations = 15
   distance_threshold = 0.016175 //0.0080875 //0.016175 //0.03235 
   min_area = 2
   max_area = 10000
}

tower {
   enabled = false
   accesToken = ''
}

timeline {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_timeline.html'
}

report {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_report.html'
}

trace {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_trace.txt'
}

dag {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/pipeline_dag.svg'
}
