workDir = "/path/to/work/dir/" // Here intermediate images/files will be stored for pipeline functionality, size may scale pretty fast.
params {
    //boilerplate params
    help=false
    // Personal params that point to user choices:
    dataDir = "/path/to/root/data/directory/"
    outDir = "/path/to/directory/for/output/files/"
}

profiles {
    // Where is the pipeline being run:
    standard {
        process.executor = 'local'
    }
    qsub {
        process.executor = 'pbs'
    } 
    // What experiment is being run?
    iss {
        includeConfig "./configs/iss.config"
    }

    merfish {
        includeConfig "./configs/merfish.config"
    }

    czi_converter{
        includeConfig "./configs/czi_converter.config"
    }
    qc {
        includeConfig "./configs/quality_control.config"
    }
    private_pc {
        params {
            //These are supposed to be changed
            dataDir = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/"
            outDir="/home/david/Documents/communISS/results/"
            codebook = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/codebook_wrong.csv"
            round_prefix = "Round"
            extension = "TIF"
            target_x_reso=665
            target_y_reso=490
            
            ////////////
            // Pipeline parameters
            ///////////
            // Normalization
            clip_percentile = 80

            // White tophat filter:
            filter_radius=15

            // Spot detection:
            min_sigma = 1
            max_sigma = 10
        }
    }

    work_pc {
        params {
            //These are supposed to be changed
            dataDir = "/media/tool/starfish_test_data/ExampleInSituSequencing/"
            outDir="/home/nacho/Documents/Code/communISS/results/"
            codebook = "/media/tool/starfish_test_data/ExampleInSituSequencing/codebook.csv"
            round_prefix = "Round"
            extension = "TIF"
            target_x_reso=665
            target_y_reso=490

            ////////////
            // Pipeline parameters
            ///////////
            // Normalization
            clip_percentile = 80

            // White tophat filter:
            filter_radius=15

            // Spot detection:
            min_sigma = 1
            max_sigma = 10
        }
        //tower {
        //    accesToken = 'eyJ0aWQiOiAzNDY2fS41MTRiMWRjYWM0NzViN2I0MmE3ZTY4YzMzNDFhZGU3MjZhN2U0ZDZh'
         //   enabled=true
        //}

    }
    test_cartana_data{
        params{
            dataDir = "/media/tool/moved_from_m2/cartana_test_stitched/"
            outDir="/media/tool/moved_from_m2/cartana_test_stitched/results"
            codebook="/media/tool/moved_from_m2/cartana_test_stitched/taglist_TV307_incomplete.csv"
            round_prefix = "Round"
            extension = "tif"
            target_x_reso=2100
            target_y_reso=2100

            ////////////
            // Pipeline parameters
            ///////////
            // Normalization
            clip_percentile = 80

            // White tophat filter:
            filter_radius=15

            // Spot detection:
            min_sigma = 1
            max_sigma = 10
        }

    }
    spatial1 {
        params{
            dataDir = "/media/tool/spatial1/nextflow_format/"
            outDir="/media/tool/spatial1/nextflow_format/results"
            codebook= "/media/tool/spatial1/decoding_info/taglist_spatial1_corrected.csv"
            round_prefix = "Round"
            extension = "tif"
            target_x_reso=2100
            target_y_reso=2100
        }
    }
}
//params {
//        //These should be the same for every implementation
//    reference = "${dataDir}DO/REF.${extension}"
//}

tower {
    enabled=false
    accesToken = ''
}

timeline {
    enabled = false
    file = "${params.outDir}/nextflow_reports/execution_timeline.html"
}
report {
    enabled = false
    file = "${params.outDir}/nextflow_reports/execution_report.html"
}
trace {
    enabled = false
    file = "${params.outDir}/nextflow_reports/execution_trace.txt"
}
dag {
    enabled = false
    file = "${params.outDir}/nextflow_reports/pipeline_dag.svg"
}
