profiles {
    private_pc {
        params {
            //These are supposed to be changed
            dataDir = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing"
            outDir="/home/david/Documents/communISS/results"
            image_processing_dir = "/home/david/Documents/communISS/image_processing"


            //These should be the same for every implementation
            reference = "${dataDir}/DO/REF.TIF"
            transform_path = "${image_processing_dir}/registration/calculateTransform.py"
            register_path = "${image_processing_dir}/registration/rigidRegister.py"
            tiling_path = "${image_processing_dir}/tiling_nextflow.py"
            filtering_path= "${image_processing_dir}/filtering.py"
            spot_detection_path= "${image_processing_dir}/spotDetection.py"
        }
    }
    work_pc {
        params {
            //These are supposed to be changed
            reference = "${dataDir}/DO/REF.TIF"
            dataDir = "/media/tool/starfish_test_data/ExampleInSituSequencing"
            outDir="/home/nacho/Documents/Code/communISS/results"
            image_processing_dir = "/home/nacho/Documents/Code/communISS/image_processing"

            //These should be the same for every implementation
            transform_path = "${image_processing_dir}/registration/calculateTransform.py"
            register_path = "${image_processing_dir}/registration/rigidRegister.py"
            tiling_path = "${image_processing_dir}/tiling_nextflow.py"
            filtering_path= "${image_processing_dir}/filtering.py"
            spot_detection_path= "${image_processing_dir}/spotDetection.py"
        }
    }

}
    


