workDir = "/path/to/work/dir/" // Here intermediate images/files will be stored for pipeline functionality, size may scale pretty fast.

params {
    //boilerplate params
    help=false
    // Personal params that point to user choices:
    dataDir = "/path/to/root/data/directory/"
    outDir = "/path/to/directory/for/output/files/"
}

profiles {
    // Where is the pipeline being run:
    standard {
        process.executor = 'local'
    }
    qsub {
        process.executor = 'pbs'
    } 

    // What experiment is being run?
    iss {
        includeConfig "./configs/iss.config"
    }

    merfish {
        includeConfig "./configs/merfish.config"
    }

    czi_converter{
        includeConfig "./configs/czi_converter.config"
    }
    qc {
        includeConfig "./configs/quality_control.config"
    }
}

tower {
    enabled=false
    accesToken = ''
}

timeline {
    enabled = false
    file = "${params.outDir}/nextflow_reports/execution_timeline.html"
}
report {
    enabled = false
    file = "${params.outDir}/nextflow_reports/execution_report.html"
}
trace {
    enabled = false
    file = "${params.outDir}/nextflow_reports/execution_trace.txt"
}
dag {
    enabled = false
    file = "${params.outDir}/nextflow_reports/pipeline_dag.svg"
}
