workDir = '/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/work'

params {
   help = false
   dataDir = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/"
   outDir = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/results2"
   reference = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/DO/REF.TIF"
   DAPI = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/DO/DAPI.TIF"
   codebook = "/media/david/Puzzles/starfish_test_data/ExampleInSituSequencing/codebook_wrong.csv"
   round_prefix = "Round"
   channel_prefix = 'c'
   extension = 'TIF'
   nr_rounds = 4
   nr_channels = 4
   target_x_reso=665
   target_y_reso=490
   clip_percentile = 80
   filter_radius = 15
   min_sigma = 1
   max_sigma = 10
}

tower {
   enabled = false
   accesToken = ''
}

timeline {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_timeline.html'
}

report {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_report.html'
}

trace {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_trace.txt'
}

dag {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/pipeline_dag.svg'
}
