workDir = '/home/david/Documents/communISS/test_work_todelete'

params {
   help = false
   dataDir = '/home/david/Documents/communISS/data/iss'
   outDir = '/home/david/Documents/communISS/test_output_todelete'
   reference = '/home/david/Documents/communISS/data/iss/REF.TIF'
   DAPI = '/home/david/Documents/communISS/data/iss/DAPI.TIF'
   codebook = '/home/david/Documents/communISS/data/iss/codebook.csv'
   round_prefix = 'Round'
   channel_prefix = 'c'
   extension = 'TIF'
   stitch = true
   plot = true
   nr_rounds = 4
   nr_channels = 4
   spot_detectionQC = false
   pixel_distance = 3
   target_x_reso = 700
   target_y_reso = 500
   clip_percentile = 80
   filter_radius = 3
   min_sigma = 1
   max_sigma = 3
   find_clusters_resolution = 0.2
}

tower {
   enabled = false
   accesToken = ''
}

timeline {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_timeline.html'
}

report {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_report.html'
}

trace {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_trace.txt'
}

dag {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/pipeline_dag.svg'
}
