workDir = '/home/david/Documents/communISS/test_work_todelete'

params {
   help = false
   dataDir = '/home/david/Documents/communISS/data/merfish/'
   outDir = '/home/david/Documents/communISS/test_output_todelete'
   DAPI = '/home/david/Documents/communISS/data/merfish/MERFISH_nuclei.TIFF'
   codebook = '/home/david/Documents/communISS/data/merfish/codebook.csv'
   reference = '/home/david/Documents/communISS/data/merfish/merfish_1.tif'
   image_prefix = 'merfish_'
   extension = 'tif'
   bit_length = 16
   target_x_reso = 700
   target_y_reso = 500
   high_pass_sigma = 3
   deconvolve_sigma = 2
   low_pass_sigma = 1
   plot=true
   stitch=true

   iterations = 15
   distance_threshold = 0.5176
   filter_radius=3

   min_area = 4 
}

tower {
   enabled = false
   accesToken = ''
}

timeline {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_timeline.html'
}

report {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_report.html'
}

trace {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/execution_trace.txt'
}

dag {
   enabled = false
   file = '/path/to/directory/for/output/files//nextflow_reports/pipeline_dag.svg'
}
