params {
        // User data:
        reference = "/path/to/reference/image" 
        DAPI = "/path/to/dapi/image"
        codebook = "/path/to/codebook.csv"
        round_prefix = "Round"
        channel_prefix="c"
        extension = "tif"

        nr_rounds=5
        nr_channels=4

        ////////////
        // Pipeline parameters
        ///////////

        // Tiling
        target_x_reso=2000
        target_y_reso=2000
        
        // Normalization
        clip_percentile = 80

        // White tophat filter:
        filter_radius=15

        // Spot detection:
        min_sigma = 1
        max_sigma = 10
}
