params {
        // User data:
        DAPI = "/path/to/dapi/image"
        codebook = "/path/to/codebook.csv"
        image_prefix = "merfish_"
        extension = "tif"
        bit_length = 16

        ////////////
        // Pipeline parameters
        ///////////

        // Tiling
        target_x_reso=2000
        target_y_reso=2000
        
        // Gaussian convolving filter 
        filter_sigma=3

        // Deconvolving PSF
        deconvolve_sigma=2
        iterations=15

        // Pixel based Decoding
        distance_threshold = 0.5176
        

}
