params {
        // User data:
        DAPI = "/home/david/Documents/communISS/data/merfish/"
        codebook = "/home/david/Documents/communISS/data/merfish/codebook.csv"
        image_prefix = "merfish_" 
        extension = "tif"
        bit_length = 16
        stitch = true // Whether to stitch back after each process to see the bigger picture
        plot = true // Whether to plot auxillary images such as decoded/detected spots per tile, segmented cells per tile etc.

        ////////////
        // Pipeline parameters
        ///////////

        // Tiling
        target_x_reso=2000
        target_y_reso=2000
        
        // Gaussian convolving filter 
        high_pass_sigma=3
        low_pass_sigma=1

        // Deconvolving PSF
        deconvolve_sigma=2
        iterations=15

        // Pixel based Decoding
        distance_threshold = 0.5176
        min_area=2
        max_area=10000
        

}
