params {
        // User data:
        reference = "data/REF.TIF" 
        DAPI = "data/DAPI.TIF"
        codebook = "data/codebook.csv"

        // Prefixes that control the input images glob patterns
        round_prefix = "Round"
        channel_prefix="c"
        extension = "TIF"

        // Switches that control certain intermediate steps
        stitch = true // Whether to stitch back after each process to see the bigger picture.
        plot = true // Whether to plot auxillary images such as decoded/detected spots per tile, segmented cells per tile etc.

        // ISS specific data 

        nr_rounds=4
        nr_channels=4

        //////////////////////////
        // Pipeline parameters //
        /////////////////////////
        
        // Quality Control
        spot_detectionQC=false
        pixel_distance = 3

        // Tiling
        target_x_reso=700
        target_y_reso=500
        
        // Normalization
        clip_percentile = 80

        // White tophat filter:
        filter_radius=3

        // Spot detection:
        min_sigma = 1
        max_sigma = 3

        // Downstream analysis
        find_clusters_resolution=0.2
}
